---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Wilkommen bei L&G.">
		<h1>F U <span class="text-gradient">World!</span></h1>
		<Card title='test' body='Inhalt' href='/about' ></Card>
</Layout>
